
#about-div {
    background-color: black;
    box-shadow: 0 2px 5px #ccc;
}

#about-text {
    color: white;
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
}

.about-h1, .about-p {
    padding-top: 20px;
    margin-right: 50px;
    margin-left: 25px;
}

.column {
    float: left;
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.header {
    font-family: 'KoHo', sans-serif;
    /*
     margin-top: 20px;
     */
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
 }

 .header-logo {
     color: orange;
     font-family: 'Press Start 2P', cursive;
     font-size: 50px;
     margin-top: 20px;
     text-decoration: none;
     text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
     text-transform: uppercase;
 }

  .epcot-caption {
      /*
      background-color: black;
      */
      color: orange;
      font-family: 'KoHo', sans-serif;
      font-size: 100px;
      position: absolute;
      text-align: center;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      top: 200px;
      left: 0;
      width: 100%;
  }

  .epcot-sub-caption {
    background-color: black;
    color: white;
    font-family: 'KoHo', sans-serif;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 500px;
    left: 0;
    width: 100%;
  }

 .epcot {
     position: relative;
     width: 100%;
     box-shadow: 0 2px 5px #ccc;
 }

 .josiah-img {
     height: 1000px;
     width: 100%;
     box-shadow: 0 2px 5px #ccc;
 }

 .navbar-item {
     color: black;
     font-size: 25px;
     display: inline-block;
     margin-left: 50px;
     text-decoration: none;
     text-transform: uppercase;
 }

 .header-navbar-div {
     background-color: white;
     box-shadow: 0 2px 5px #ccc;
     text-align: center;
     padding-top: 20px;
     width: 100%;
     position: fixed; 
     z-index: 1;
     top: 0; 
 }

 .header-logo-div {
     margin-top: 20px;
     margin-bottom: 20px;  
 }

 .skills-column {
        float: left;
        width: 20%;
 }

 .skills-h1 {
     padding-bottom: 100px;
 }

 .skills-div {
    box-shadow: 0 2px 5px #ccc;
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
    padding-bottom: 150px;
    text-align: center;
    text-decoration: underline;
 }

 .skill-icon {
     height: 200px;
     width: 200px;
 }

 .skills-row:after {
    content: "";
    display: table;
    clear: both;
 }

 .bottom-div {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 40px;

 }


 